@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --black: #000000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2vh 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    z-index: 1000;
}


li, a, button, .prenom{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;

}

.navlink {
    text-decoration: none;
    list-style-type: none;
}

.navlink li {
    display: inline-block;
    padding: 0px 20px;
}

.navlink li a {
    transition: all 0.3s ease 0s;
}

.navlink li a:hover {
    color: #0088a9;
}

.contact > button {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #0088a9;
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact > button:hover {
    background-color: #006078;
}

footer {
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 20vh;
    background-color: var(--black);
    text-align: center;
}

.footer-text > p {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 20px;
    padding: 20px 0;
}

.footer-icons > a > img {
    margin: 10px 20px ;
}
