@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --black: #000000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2vh 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    z-index: 1000;
}


li, a, button, .prenom{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;

}

.navlink {
    text-decoration: none;
    list-style-type: none;
}

.navlink li {
    display: inline-block;
    padding: 0px 20px;
}

.navlink li a {
    transition: all 0.3s ease 0s;
}

.navlink li a:hover {
    color: #0088a9;
}

.contact > button {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #0088a9;
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact > button:hover {
    background-color: #006078;
}

.home-container {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}

.home-text{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    width: 50vw;
    margin: 35vh 10vw;
}

.home-container h1 {
    color: white;
}

.home-container h2 {
    color: white;
    margin-top: 15px;
}

.home-container h3 {
    color: #0088a9;
    margin-top: 15px;
}

.mon-cv > button {
    padding: 15px;
    margin-top: 20px;
    border-radius: 25px;
    background-color: #0088a9;
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.propos-container {
    top: 0;
    left: 0;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: auto;
    background-color: var(--second-bg-color);
    padding-top: 2vh;
    text-align: center;
}

.propos {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 60px;
    text-align: center;

}

.propos-container > img {
    width: 25%;
    height: auto;
    border-radius: 100%;
    margin: 3vh 8vw;
    border-color: var(--main-color);
    border-style: solid;
}

.text-propos, .student-propos {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 20px;
    width: 60vw;
    padding-bottom: 10vh;
    text-align: center;
    margin: 0 auto; 
    display: block;
}

.student-propos {
    font-weight: 500;
    padding: 2vh;
}

.skills-container {
    top: 0;
    left: 0;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: auto;
    background-color: var(--bg-color);
    padding-top: 2vh;
    text-align: center;
}

.skills-container > h3 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
}

.skills-container > table {
    margin: 0 auto; 
    display: table;
    padding: 25px 0;
    border-spacing: 15px;
}

td {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color:white;
    border: 1px solid;
    border-radius: 10px;
    justify-content: space-between;
    padding: 30px;
}

.white-filter {
    filter: invert();
    width: 50px;
    height: auto;
    margin: 5px auto;
}

td > .white-filter {
    display: block;
}

.portfolio-container {
    top: 0;
    left: 0;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 70vh;
    background-color: var(--second-bg-color);
    padding-top: 2vh;
}


.portfolio-title {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
}

footer {
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 20vh;
    background-color: var(--black);
    text-align: center;
}

.footer-text > p {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 20px;
    padding: 20px 0;
}

.footer-icons > a > img {
    margin: 10px 20px ;
}
